@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
body {
  	margin: 0; line-height: normal;
}

.sliderNavIcon {
    width: 15px;
    position: relative;
    height: 15px;
}
.slderNav {
    position: absolute;
    top: 685px;
    left: calc(50% - 45.5px);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0px 4px;
}
.categoryIcon {
    width: 120px;
    border-radius: 20px;
    border: 1px solid #000;
    box-sizing: border-box;
    height: 30px;
    display: none;
}
.iconLeft {
    width: 43px;
    position: relative;
    height: 43px;
}
.left {
    width: 27.26px;
    position: relative;
    height: 30.17px;
    display: none;
}
.right {
    width: 27.26px;
    position: relative;
    height: 30.17px;
    transform:  rotate(-180deg);
    display: none;
}
.arrowBtn {
    position: absolute;
    width: 100%;
    top: calc(50% - 21.42px);
    right: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0px 435px;
}
.images {
    width: 525px;
    position: relative;
    border-radius: 30px;
    height: 710px;
    overflow: hidden;
    flex-shrink: 0;
    background-image: url('');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.arthritis {
    position: relative;
    line-height: 100%;
}
.seeMore {
    position: absolute;
    top: calc(50% - 7.5px);
    left: calc(50% - 34px);
    line-height: 100%;
}
.signIn {
    width: 90px;
    position: relative;
    border-radius: 16.77px;
    background-color: #b0b0b0;
    height: 23px;
    overflow: hidden;
    flex-shrink: 0;
    text-align: center;
    font-size: 15px;
}
.trName {
    position: absolute;
    top: calc(50% - 11.5px);
    left: 0px;
    width: 690px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px;
    box-sizing: border-box;
}
.treatment {
    width: 690px;
    position: relative;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0px 4px 18.9px rgba(0, 0, 0, 0.11);
    height: 45px;
    overflow: hidden;
    flex-shrink: 0;
}
.treatmentParent {
    position: absolute;
    top: 100px;
    left: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px 0px;
}
.treatmentList1 {
    position: absolute;
    top: 33px;
    left: calc(50% - 107px);
    font-size: 30px;
    line-height: 100%;
    text-align: center;
}
.pharmacyStoreIcon {
    position: absolute;
    top: 420px;
    left: calc(50% - 187px);
    width: 374px;
    height: 276px;
    object-fit: cover;
}
.treatments {
    width: 760px;
    position: relative;
    border-radius: 30px;
    background-color: #f9e8e8;
    box-shadow: 0px 8px 20.9px rgba(0, 0, 0, 0.08);
    height: 710px;
    overflow: hidden;
    flex-shrink: 0;
}
.imagesParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0px 50px;
}
.treatmentList {
    position: absolute;
    top: calc(50% - 355px);
    left: calc(50% - 667px);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.sliderNavIcon5 {
    position: absolute;
    top: 448px;
    left: 259px;
    width: 15px;
    height: 15px;
    display: none;
}
.slider {
    width: 100%;
    position: relative;
    height: 730px;
    overflow: hidden;
    text-align: left;
    font-size: 20px;
    color: #000;
    font-family: Inter;
}

