body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .App {
    text-align: center;
  }
  
  .App-bar {
    background-color: #333;
  }
  
  .menu-item {
    color: #fff !important;
  }
  
  .user-menu-item {
    color: #333 !important;
    background-color: #fff !important;
  }
  